/* #facebook for more specificity in order to mantain margin property */
/* Keeping normal selector in case they decide to change or remove the id */

#facebook .meet-trigger, .meet-trigger {
  background-image: url("chrome-extension://__MSG_@@extension_id__/res/launch-icon.png");
	background-repeat: no-repeat;
	width: 17px;
	height: 17px; 
	margin: 4px 3px 0 0;
	margin-right: 2px;
}

#facebook .meet-trigger:hover, .meet-trigger:hover {
  background-image: url("chrome-extension://__MSG_@@extension_id__/res/launch-icon-hover.png");
}

#facebook .meet-trigger.loading, .meet-trigger.loading {
  background-image: url("chrome-extension://__MSG_@@extension_id__/res/loading.gif");
}

#facebook .meet-trigger.finished, .meet-trigger.finished {
  background-image: url("chrome-extension://__MSG_@@extension_id__/res/event-created-icon.png");
}

.meet-slide {
  bottom: 0px;
  width: 258px;
  overflow: hidden !important;
  border-bottom-width: 1px;
  border-left-width: 1px;
  display: none;
}

.meet-new-event {
  /* min-height: 85px; Breaks slideUp/Down animations =( */
}

.meet-slide.add-friends {
  height: 27px;
}

.meet-upButtons {
  margin-bottom: 5px;
  margin-top: 3px;
}

.meet-new-event .meet-ok {
  width: 64px;
  float: right;
}

.meet-text, .meet-loc {
  width: 240px;
  margin-bottom: 4px !important;
}

.meet-today, .meet-soon {
  width: 58px;
}

.meet-tomorrow {
  width: 70px;
}

.meet-loc-btn, .meet-friends-btn {
  vertical-align: -webkit-baseline-middle;
}

.meet-invite.meet-done {
  width: 12px; 
  float: right;
  display: none;
}
.meet-invite.meet-friends-btn {
  display: none;
}

.meet-dropbag {
  width: 235px;
  border: 1px solid #C9D0DA;
  height: 31px;
  /* No padding in the left, because images already have margin (oddly they add up, maybe because img is inline) */
  padding: 3px 3px 0px 0;
  margin: 5px 0 6px 3px;
  background-color: white;
  overflow: auto;
}

.meet-dropbag img {
  margin-left: 3px;
  height: 28px;
  width: 28px;
}

.meet-dropbag img.meet-removable {
  cursor: pointer;
}

.meet-dropbag img.meet-removable:hover {
  box-shadow: 0 0 2px 2px #C03D3D;
}

.meet-dropbag.meet-loading {
  background-color: #CCCCCC;
  cursor: wait;
}

.meet-dropbag.meet-loading img {
  opacity: 0.5;
  cursor: wait;
}

.meet-dropbag.dragover {
  background-color: #FDF3CB;
  border-style: dashed;
}

.meet-drag-message {
  margin: 3px 0 3px 0;
  padding-left: 4px;
}

.meet-event-info {
  margin: 5px 0 0 4px;
  color: #999999;
}

.meet-event-info .name {
  color: #3B5998;
  font-weight: bold;
}

.meet-drop-dismiss {
  display: none;
}